
<form class="form-horizontal " autocomplete="off" #createplanProductModal="ngForm"   >

    <div class="modal-body modal-xl">
      <div class="row">
        <div class="col-md-11">
          <!-- Inputs -->
          <div class="row">
            <div class="col-md-4 required">
              <label form="numberOfItems">Number Of Items</label>
              <input type="number" class="form-control" name="numberOfItems" id="numberOfItems" required min="0" max="1000000" oninput="validity.valid||(value='');"
              [(ngModel)]="planProduct.numberOfItems" #numberOfItemsModel="ngModel" #numberOfItemsEl  />

       
            </div>
            <div class="col-md-4 required">
              <label form="productId">Product</label>
              <select aria-placeholder="product" class="form-control" aria-label="Product" #productIdModel="ngModel" required name="productId"
              [(ngModel)]="planProduct.productId"  #productIdEl >
                <!-- <option  disabled selected hidden >Material</option> -->
                <option *ngFor="let item of productsForDropDown" value={{item.id}}>{{item.name}}</option>
              </select>
          
            </div>
            <div class="col-md-4 required">
              <label form="priority">priority</label>
              <input type="number" class="form-control" name="priority" id="priority" required 
                [(ngModel)]="planProduct.priority" #priorityModel="ngModel" #priorityEl  />
        
            </div>
          
          </div>
        </div>

        <div class="col-md-1">
          <!-- Button -->
        
          <button type="button" class="btn btn-outline-primary mt-4" (click)="addToProductList()">
            <i class="bi bi-plus-lg"> </i>  
          </button>
        </div>
      </div>
      <div class="separator my-5"></div>
      <div class="row">
        <div class="col-12 list">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Number Of Items</th>
                <th scope="col">Product</th>
                <th scope="col">Priority</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let planProduct of data;let i=index; ">
                <td></td>
                <td>{{planProduct.numberOfItems}} </td>
                <ng-contanier *ngFor="let p of products;let pId=index">
                  <td *ngIf="pId==i">{{p.name}} </td>
                </ng-contanier>
                <td>{{planProduct.priority}}</td>
           
                <td> <button id="button-basic" type="button" id="edit" class="header-icon btn btn-empty text-primary"
                    (click)="edit(planProduct)">
                    <i class="simple-icon-pencil text-primary"></i>
                  </button>
                  <button id="button-basic" type="button" id="delete" class="header-icon btn btn-empty text-primary"
                    (click)="delete(planProduct)">
                    <i class="simple-icon-trash text-primary"></i>
                  </button>
                </td>
  
  
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </form>
