<app-page-header [title]="'Product' | localize"  [fields]="fields"
 [CreatePermission]="'Setting.Products.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'Setting.Products.Edit'" 
[DeletePermission]="'Setting.Products.Delete'" [fields]="fields" [data]="products" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" ></app-page-grid>