<abp-modal-header
  [title]="'ViewMoreDetails' | localize"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>

<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="title">
      {{ "Title" | localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        [value]="data.title"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="outputDate">
      {{ "OutputDate" | localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="outputDate"
        id="outputDate"
        [value]="data.outputDate"
        [readonly]="!editable"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="plan">
      {{ "Plan" | localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="plan"
        id="plan"
        [value]="data.plan?.title"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="separator my-5"></div>

  <div class="row">
    <div class="col-12 list table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ "Quantity" | localize }}</th>
            <th>{{ "Unit" | localize }}</th>
            <th></th>
            <th>{{ "Warehouse" | localize }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let outputRequestMaterial of data.outputRequestMaterials;
              let i = index
            "
          >
            <td>{{ outputRequestMaterial.quantity }}</td>
            <ng-conatiner *ngFor="let unitName of unitNames; let uId = index">
              <td *ngIf="uId == i">{{ unitName.name }}</td>
            </ng-conatiner>
            <td></td>
            <ng-conatiner
              *ngFor="let warehouseName of warehouseNames; let wId = index"
            >
              <td *ngIf="wId == i">
                <span>{{ warehouseName.name }}</span>
              </td>
            </ng-conatiner>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <view-formula-dialog [productId]="data.id"></view-formula-dialog>
</div>
