<abp-modal-header
  [title]="'ViewMoreDetails' | localize"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>

<div class="modal-body">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="title">
      {{ "Title" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="title" id="title">
        {{ data.title }}
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="outputDate">
      {{ "OutputDate" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="outputDate" id="outputDate">
        {{ data.outputDate | format }}
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="plan">
      {{ "Plan" | localize }}
    </label>
    <div class="col-md-9">
      <label class="form-control" name="plan" id="plan">
        {{ data.plan?.title }}
      </label>
    </div>
  </div>

  <div class="separator my-5"></div>
  <!---->
  <div class="row">
    <div class="col-12" *ngFor="let outputRequestProduct of data.outputRequestProducts">
      <div class="form-group row" >
        <label class="col-md-6" for="outputRequestProduct">
          {{ outputRequestProduct?.product?.name}}
        </label>
        <div class="col-md-6">
          <label name="outputRequestProduct" id="outputRequestProduct">
            {{"CanProduce" | localize }}{{ ": " + outputRequestProduct?.canProduce }}
          </label>
        </div>
      </div>
    </div>
  </div>  
  <div class="separator my-3"></div>
  <!---->


  <!-- tabel -->
  <div class="row">
    <div class="col-12 list table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-hover table-borderless ">
        <thead class="border-bottom">
          <tr>
            <th scope="col">{{'Material'|localize}}</th>
            <th></th>
            <th scope="col">{{'WarehouseMaterial'|localize}}</th>
            <th scope="col">{{'Quantity'|localize}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let outputRequestMaterialWithMaterial of data.outputRequestMaterials; let i = index">
            <ng-contanier *ngFor="let materialCode of materialsCodes; let materialCodeIndex = index">
              <td *ngIf="materialCodeIndex == i">{{materialCode?.code }}</td>
            </ng-contanier>
            <td></td>
            <ng-contanier *ngFor="let warehouseMaterial of warehouseMaterials; let warehouseMaterialIndex = index">
              <td *ngIf="warehouseMaterialIndex == i">{{warehouseMaterial?.info }}</td>
            </ng-contanier>
            <td>{{outputRequestMaterialWithMaterial?.quantity }}
              <ng-contanier *ngFor="let unitName of unitNames; let unitNameIndex = index">
               <span *ngIf="unitNameIndex == i">{{unitName?.name }}</span>
              </ng-contanier>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf="loaded">
  <view-formula-dialog [productId]="data.id"></view-formula-dialog>
</div>
