<abp-modal-header
  [title]="'View More Details'"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>

      <div class="modal-body">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="title">
      {{ "Title" }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        [value]="data.title"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="outputDate">
      {{ "Output Date" }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="outputDate"
        id="outputDate"
        [value]="data.outputDate"
        [readonly]="!editable"
      />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="plan">
      {{ "Plan" }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="plan"
        id="plan"
        [value]="data.planId"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="separator my-5"></div>
  <div class="row">
    <div class="col-12 list table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-hover ">
        <thead>
          <tr>


            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Warehouse</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let outputRequestMaterial of data; let i = index">

            <!-- <ng-contanier *ngFor="let w of warehouseCodes; let wId = index">
              <td *ngIf="wId == i">{{ w.code }}</td>
            </ng-contanier>
            <td>{{ outputRequestMaterial.quantity }}</td>
            <ng-contanier *ngFor="let u of unitsNames; let uId = index">
              <td *ngIf="uId == i">{{ u.name }}</td>
            </ng-contanier> -->

          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div *ngIf="loaded">

  <view-formula-dialog [productId]="data.id"></view-formula-dialog>
</div>


