
<form class="form-horizontal " autocomplete="off" #createplanProductModal="ngForm"   >

    <div class="modal-body modal-xl">
      <div class="row">
        <div class="col-md-11">
          <!-- Inputs -->
          <div class="row">
            <div class="col-md-6 required">
              <label form="productId">{{'Product'|localize}}</label>
              <select aria-placeholder="{{'Product'|localize}}" class="form-control" aria-label="Product" #productIdModel="ngModel" required name="productId"
              [(ngModel)]="planProduct.productId"  #productIdEl >
                <!-- <option  disabled selected hidden >Material</option> -->
                <option *ngFor="let item of productsForDropDown" value={{item.id}}>{{item.name}}</option>
              </select>

            </div>
            <div class="col-md-6 required">
              <label form="numberOfItems">{{'NumberOfItems'|localize}}</label>
              <input type="number" class="form-control" name="numberOfItems" id="numberOfItems" required min="0"  oninput="validity.valid||(value='');"
              [(ngModel)]="planProduct.numberOfItems" #numberOfItemsModel="ngModel" #numberOfItemsEl  />


            </div>

            <!-- <div class="col-md-4 required">
              <label form="priority">priority</label>
              <input type="number" class="form-control" name="priority" id="priority" required
                [(ngModel)]="planProduct.priority" #priorityModel="ngModel" #priorityEl  />

            </div> -->

          </div>
        </div>

        <div class="col-md-1">
          <!-- Button -->

          <button type="button" class="btn btn-outline-primary mt-4" (click)="addToProductList()">
            <i class="bi bi-plus-lg"> </i>
          </button>
        </div>
      </div>
      <div class="separator my-5"></div>
      <div class="row">
        <div class="col-12 list">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'Product'|localize}}</th>
                <th scope="col">{{'NumberOfItems'|localize}}</th>
                <!-- <th scope="col">Priority</th> -->
                <th scope="col">{{'Action'|localize}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let planProduct of plan.planProducts;let i=index; ">
                <td></td>
                
                <!-- <ng-contanier *ngFor="let p of products;let pId=index"> -->
                  <td >{{planProduct.product.name}} </td>
                  <td>{{planProduct.numberOfItems}} </td>
                <!-- </ng-contanier> -->
                <!-- <td>{{planProduct.priority}}</td> -->

                <td> <button id="button-basic" type="button" id="edit" class="header-icon btn btn-empty text-primary"
                    (click)="edit(planProduct)">
                    <i class="simple-icon-pencil text-primary"></i>
                  </button>
                  <button id="button-basic" type="button" id="delete" class="header-icon btn btn-empty text-primary"
                    (click)="delete(planProduct)">
                    <i class="simple-icon-trash text-primary"></i>
                  </button>
                </td>


              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </form>
