<abp-modal-header [title]="'ViewMoreDetails'|localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body my-custom-scrollbar" *ngIf="loaded">
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="material">
            {{ "Material" | localize }}
        </label>
        <div class="col-md-9 ">
            <label class="form-control" name="material" id="material">
                {{warehouseMaterial.material?.name}}
            </label>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="warehouse">
            {{ "Warehouse" | localize }}
        </label>
        <div class="col-md-9 ">
            <label class="form-control" name="warehouse" id="warehouse">
                {{warehouseMaterial.warehouse?.name}}
            </label>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="supplier">
            {{ "Supplier" | localize }}
        </label>
        <div class="col-md-9 ">
            <label class="form-control" name="supplier" id="supplier">
                {{warehouseMaterial.supplier?.name}}
            </label>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="entryDate">
            {{ "EntryDate"|localize }}
        </label>
        <div class="col-md-9">
            <label class="form-control" name="entryDate" id="entryDate">
                {{warehouseMaterial.entryDate| format}}
            </label>
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="expirationDate">
            {{ "ExpirationDate"|localize }}
        </label>
        <div class="col-md-9">
            <label class="form-control" name="expirationDate" id="expirationDate">
                {{warehouseMaterial.expirationDate| format}}
            </label>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="quantity">
            {{ "InitialQuantity"|localize }}
        </label>
        <div class="col-md-4">
            <label class="form-control" name="quantity" id="quantity">
                {{warehouseMaterial.initialQuantity}}
            </label>
        </div>
        <label class="col-md-1 col-form-label" for="unit">
            {{ "Unit"|localize }}
        </label>
        <div class="col-md-4 ">
            <label class="form-control" name="unit" id="unit">
                {{warehouseMaterial.unit?.name}}
            </label>
        </div>
    </div>
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="currentQuantity">
            {{ "CurrentQuantity"|localize }}
        </label>
        <div class="col-md-4">
            <label class="form-control" name="currentQuantity" id="currentQuantity">
                {{warehouseMaterial.currentQuantity}}
            </label>
        </div>
        <label class="col-md-1 col-form-label" for="unit">
            {{ "Unit"|localize }}
        </label>
        <div class="col-md-4 ">
            <label class="form-control" name="unit" id="unit">
                {{warehouseMaterial.unit?.name}}
            </label>
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="price">
            {{ "Price"|localize }}
        </label>
        <div class="col-md-4">
            <label class="form-control" name="price" id="price">
                {{warehouseMaterial.priceSYP}}
            </label>
        </div>
        <label class="col-md-1 col-form-label" for="unitPriceId">
            {{ "PriceUnit"|localize }}
        </label>
        <div class="col-md-4 ">
            <label class="form-control" name="unitPrice" id="unitPrice">
                {{warehouseMaterial.unitPrice?.name}}
            </label>
        </div>
    </div>

</div>