
<form class="form-horizontal " autocomplete="off" #createUnitModal="ngForm" (ngSubmit)="save()" >
    <abp-modal-header [title]="l('EditGeneralSetting')" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="expiryDurationNotify">
          {{ "ExpiryDurationNotify" | localize }}
        </label>
        <div class="col-md-9 ">
            <input type="number" class="form-control" placeholder="In Days" name="expiryDurationNotify" id="expiryDurationNotify" required
            [(ngModel)]="generalSetting.expiryDurationNotify " #expiryDurationNotifyModel="ngModel" #expiryDurationNotifyEl   />
          <abp-validation-summary [control]="expiryDurationNotifyModel" [controlEl]="expiryDurationNotifyEl"></abp-validation-summary>
        </div>
      </div>  
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUnitModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
  