<app-page-header [title]="'Role' | localize"  [fields]="fields"
 [CreatePermission]="'Security.Roles.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>
<app-page-grid [hasDetails]="false" [EditPermission]="'Security.Roles.Edit'" 
[DeletePermission]="'Security.Roles.Delete'" [fields]="fields" [data]="roles" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" [ViewButton]="false"></app-page-grid>