<app-page-header [title]="'Warehouse' | localize"  [fields]="fields"
 [CreatePermission]="'Warehouses.Warehouses.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)"
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>
<app-page-grid [hasDetails]="false" [EditPermission]="'Warehouses.Warehouses.Edit'"
[DeletePermission]="'Warehouses.Warehouses.Delete'" [fields]="fields" [data]="warehouses"
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" ></app-page-grid>
