<abp-modal-header [title]="'DailyProduction'|localize " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th class="text-one text-primary">{{'Material request' | localize}}</th>
        <th class="text-one text-primary">{{'Daily production' | localize}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of outputRequests">
        <!-- Output request -->
        <td>
          <ul class="list-unstyled">
            <!-- <li><span class="text-one text-primary">{{'Material request' | localize}}:</span></li> -->
            <li>
              <span class="log-indicator align-middle mx-1"></span>
              <span class="text-one">{{'Title' | localize}}: {{item.title}}</span>
            </li>
            <li>
              <span class="log-indicator align-middle mx-1"></span>
              <span class="text-one">{{'Request date' | localize}}: {{item.outputDate | date:'EEEE MMM dd , yyyy'}}</span>
            </li>
            <li>
              <span class="log-indicator align-middle mx-1"></span>
              <span class="text-one">{{'Products' | localize}}:</span>
              <div class="ml-3 d-flex justify-content-start" *ngFor="let requestProduct of item.outputRequestProducts">
                <span class="font-weight-medium mx-1">{{requestProduct.product?.name}} / </span>
                <span class="font-weight-medium mx-1">{{'Can produce' | localize}}: {{requestProduct.canProduce}}</span>
              </div>
            </li>
            
          </ul>
        </td>
        
        <!-- Daily production -->
        <td>
          <ul class="list-unstyled">
            <!-- <li><span class="text-one text-primary">{{'Daily production' | localize}}:</span></li> -->
            <ng-container *ngFor="let dailyProduction of item.dailyProductions">
              <li>
                <span class="log-indicator align-middle mx-1"></span>
                <span class="text-one">{{'Date' | localize}}: {{dailyProduction.creationTime | date:'EEEE MMM dd , yyyy'}}</span>
              </li>
              <li>
                <span class="log-indicator align-middle mx-1"></span>
                <span class="text-one">{{'Products' | localize}}:</span>
                <div class="ml-3 d-flex justify-content-start" *ngFor="let dailyProductionDetail of dailyProduction.dailyProductionDetails">
                  <span class="font-weight-medium mx-1">{{dailyProductionDetail.product?.name}} / </span>
                  <span class="font-weight-medium mx-1">{{'The number produced' | localize}}: {{dailyProductionDetail.quantity}}</span>
                </div>
              </li>
              <li>
                <span class="log-indicator align-middle mx-1"></span>
                <span class="text-one">{{'Notes' | localize}}: </span>
              </li>
            </ng-container>
            
            
          </ul>
        </td>
        <td>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>