<abp-modal-header [title]="'DailyProduction'|localize " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">
  <table class="table table-sm table-striped">
    <tbody>
      <tr *ngFor="let item of outputRequests">
        <!-- Output request -->
        <td>
          <ul class="list-unstyled">
            <li><span class="text-one">{{'MaterialRequest'|localize}}:</span></li>
            <li>
              <span class="log-indicator align-middle mx-1"></span>
              <span class="font-weight-medium"> {{'Title'|localize}}:  {{item.title}}</span>
            </li>
            <li>
              <span class="log-indicator align-middle mx-1"></span>
            <span class="font-weight-medium"> {{'RequestDate'|localize}}:  {{item.outputDate | date:'EEEE MMM dd , yyyy'}}</span>
            </li>
          </ul>
        </td>
        <!-- Daily production -->
        <td></td>
      </tr>
    </tbody>
  </table>
</div>