<div class="row">
  <div class="col-12">
    <app-heading [title]="title"></app-heading>
    <!-- <app-breadcrumb></app-breadcrumb>   -->
    <a *ngIf="IsDetail" class="ml-4 pointer text-primary" (click)="backTo()">
      <i class=" iconsminds-arrow-left-in-circle "></i>
      {{'BackTo'|localize}}{{ParentName}}{{' List'|localize}}</a>
    <div *ngIf="isGranted(CreatePermission)" class="top-right-button-container text-zero"> <button type="button" (click)="onAddNewItem()"
        class="top-right-button btn btn-primary btn-lg mr-1">{{ 'AddNew' | localize}}</button></div>
    <div class="display-options-container ">
      <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
        (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
        aria-controls="displayOptions">
        {{ 'pages.display-options' | localize}}
        <i class="simple-icon-arrow-down align-middle"></i>
      </a>
      <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
        <div class="d-inline-block" *ngIf="showSearch">
          <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
            <input class="form-control" placeholder="Search" (keyup)="onSearchKeyUp($event)">
          </div>
        </div>
        <div class="d-inline-block" *ngIf="showAdvanceFilter">
          <div class="d-inline-block float-md-left mr-1 mb-1 align-top">

            <div class="btn-group" role="group" aria-label="advance filter group">
              <button class="btn btn-xs btn-outline-primary" (click)="onFilter()"><i
                  class="bi bi-filter mr-1"></i>{{'Filter' | localize}}</button>
              <button class="btn btn-xs btn-outline-primary" *ngIf="filtering" (click)="clearFilter()"><i
                  class="bi bi-x-lg"></i> </button>
            </div>
          </div>
        </div>

        <div class="float-right mx-1" *ngIf="showOrderBy">
          <div class="float-md-left mr-1 mb-1" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-dark btn-xs dropdown-toggle"
              aria-controls="dropdown-basic">
              {{'Columns' | localize}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem" *ngFor="let item of fields"><a (click)="onChangeOrderBy(item)">{{item.label}}</a></li>
            </ul>
          </div>
        </div>

        <div class="float-right" *ngIf="showItemsPerPage">
          <span class="text-muted text-small">{{'PerPage'|localize}} </span>
          <span dropdown class="d-inline-block position-relative">
            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" dropdownToggle>
              {{pageSize}}
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
              <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                  [ngClass]="item === pageSize ? 'dropdown-item active' : 'dropdown-item'"
                  (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
            </div>
          </span>
        </div>

      </div>
      <div class="separator mb-4"></div>
    </div>
  </div>
</div>