<div class="row" *ngIf="plan != undefined && plan.id > 0">
  <div class="col-lg-12 col-md-12">
    <div class="top-right-button-container mb-5">
      <div class="row">
        <div class="btn-group mr-1" dropdown placement="bottom right">
          <button
            id="button-basic"
            dropdownToggle
            type="button"
            class="btn btn-primary dropdown-toggle"
            aria-controls="dropdown-basic"
          >
            <i class="simple-icon-menu text-light mx-1"></i>
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-basic"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem" *ngIf="plan.status!=2">
              <a
                class="dropdown-item"
                type="button"
                (click)="showConfirmationModal()"
              >
                <i
                  class="iconsminds-inbox-into glyph-icon text-primary mr-1"
                ></i
                >{{ "ArchivePlan" | localize }}
              </a>
            </li>
            <li role="menuitem">
              <a
                class="dropdown-item"
                type="button"
                (click)="actualyDetailDialog(plan.id)"
              >
                <i
                  class="simple-icon-clock glyph-icon text-primary mr-1"
                ></i
                >{{ "DailyProduction" | localize }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-right">
      <i
        *ngIf="plan.lack"
        class="text-success glyph-icon simple-icon-check mt-2 mr-1"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="Plan Can Produce"
      ></i>
      <i
        *ngIf="!plan.lack"
        class="text-danger glyph-icon simple-icon-close mt-2 mr-1"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title=" Plan Can't Produce"
      ></i>

      <app-heading title="{{ plan.title }}"></app-heading>
      &nbsp;
      <h1 class="text-primary">&nbsp;#{{ plan.id }}</h1>
    </div>
    <div class="ml-2 d-flex justify-content-right text-muted">
      <div
        class="d-flex justify-content-center"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Start Date"
      >
        <i class="glyph-icon iconsminds-calendar-4"> </i>
        <span class="mt-2 text-one">{{
          plan.startDate | date : "yyyy-MM-dd"
        }}</span>
      </div>
      &nbsp; &nbsp;
      <div
        class="my-1"
        style="border-right: 1px solid; background-color: gray"
      ></div>
      &nbsp; &nbsp;
      <div
        class="d-flex justify-content-center"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Duration"
      >
        <span class="mt-2 text-one"> {{ plan.duration }} {{'Day'|localize}}</span>
      </div>
    </div>
    <div class="separator mt-1"></div>
    <br />
    <ng-container *ngIf="plan.planMaterials">
      <app-actual-material
        [planMaterials]="plan.planMaterials"
      ></app-actual-material>
    </ng-container>
    <ng-container *ngIf="plan.planProducts">
      <app-actual-product
        [planProducts]="plan.planProducts"
      ></app-actual-product>
    </ng-container>
  </div>
</div>

<div
  class="text-center pt-5 pb-5 d-flex flex-lg-column flex-md-row flex-sm-row flex-column"
  *ngIf="plan == undefined || plan.id == 0">
  <p>There is no plan, please add a new plan</p>
  <a class="btn btn-link btn-empty btn-lg" href="/app/plan/displayAllPlan"
    >Go to Plan List <i class="simple-icon-arrow-right"></i
  ></a>
</div>
