<abp-modal-header
  [title]="'MaterialDetails'|localize"
  (onCloseClick)="bsModalRef.hide()"
></abp-modal-header>
<div class="modal-body my-custom-scrollbar">
  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="name">
      {{ "Name"|localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        [value]="data.name"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="code">
      {{ "Code"|localize }}
    </label>
    <div class="col-md-9">
      <input
        type="text"
        class="form-control"
        name="code"
        id="code"
        [value]="data.code"
        [readonly]="!editable"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="supplier">
      {{ "Suppliers"|localize }}
    </label>
    <ng-container *ngFor="let materialSupplier of data.suppliers">

    <div class="col-md-9 mt-1" >
      <input
        type="text"
        class="form-control"
        name="supplier"
        id="supplier"
        [value]="materialSupplier.supplier.name"
        [readonly]="!editable"
      />
    </div>
    <div class="col-md-3 mt-1"></div>
  </ng-container>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label" for="description">
      {{ "Description"|localize }}
    </label>
    <div class="col-md-9">
      <textarea
        type="text"
        class="form-control"
        name="description"
        id="description"
        [value]="data.description"
        [readonly]="!editable"
      ></textarea>
    </div>
  </div>
  </div>

