<abp-modal-header [title]="'View More Details' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">


    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="Material">
            {{ "Material" | localize }}
        </label>
        <div class="col-md-9" >
            <input type="text" class="form-control" name="Material" id="material" [value]="material.name"
                [readonly]="!editable" />
        </div>
    </div>

    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="quantity">
            {{ "Quantity" | localize }}
        </label>
        <div class="col-md-6">
            <input type="text" class="form-control" name="quantity" id="quantity" [value]="materialWarehouse.quantity"
                [readonly]="!editable" />
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="Unit" id="to" [value]="unit.name" [readonly]="!editable" />
        </div>
    </div>
</div>