<form class="form-horizontal " autocomplete="off" #editformulaModal="ngForm">

  <div class="modal-body modal-xl">
    <div class="row">
      <div class="col-md-11">
        <!-- Inputs -->
        <div class="row">
          <div class="col-md-4">
            <label form="name">name</label>
            <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="formula.name"
              #nameModel="ngModel" #nameEl />

            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
          <div class="col-md-4">
            <label form="materialId">Material</label>
            <select aria-placeholder="material" class="form-control" aria-label="Material" #materialIdModel="ngModel"
              required name="materialId" [(ngModel)]="formula.materialId" #materialIdEl>
              <!-- <option  disabled selected hidden >Material</option> -->
              <option *ngFor="let item of materialDropdown" value={{item.id}}>{{item.name}}</option>
            </select>
            <abp-validation-summary [control]="materialIdModel" [controlEl]="materialIdEl"></abp-validation-summary>
          </div>
          <div class="col-md-2">
            <label form="quantity">quantity</label>
            <input type="number" class="form-control" name="quantity" id="quantity" required
              [(ngModel)]="formula.quantity" #quantityModel="ngModel" #quantityEl />
            <abp-validation-summary [control]="quantityModel" [controlEl]="quantityEl"></abp-validation-summary>
          </div>
          <div class="col-md-2">
            <label form="unitId">Unit</label>
            <select class="form-control" aria-label="unit" #unitIdModel="ngModel" required name="unitId"
              [(ngModel)]="formula.unitId" #unitIdEl>
              <option *ngFor="let item of unitDropdown" value={{item.id}}>{{item.name}}</option>
            </select>
            <abp-validation-summary [control]="unitIdModel" [controlEl]="unitIdEl"></abp-validation-summary>
          </div>
        </div>
      </div>

      <div class="col-md-1">
        <!-- Button -->

        <button type="button" class="btn btn-outline-primary mt-4" (click)="addToFormulaList()">
          <i class="bi bi-plus-lg"> </i>
        </button>
      </div>
    </div>
    <div class="separator my-5"></div>
    <!-- tabel -->
    <div class="row">
      <div class="col-12 list">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Material</th>
              <th scope="col">Quantity</th>
              <th scope="col">Unit</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let formula of data;let i=index; ">
              <td></td>
              <td>{{formula.name}} </td>
              <ng-contanier *ngFor="let m of materials;let mId=index">
                <td *ngIf="mId==i">{{m.name}} </td>
              </ng-contanier>
              <td>{{formula.quantity}}</td>
              <ng-contanier *ngFor="let u of units;let uId=index ">
                <td *ngIf="uId==i">{{u.name}} </td>
              </ng-contanier>
              <td> <button id="button-basic" type="button" id="edit" class="header-icon btn btn-empty text-primary"
                  (click)="edit(formula)">
                  <i class="simple-icon-pencil text-primary"></i>
                </button>
                <button id="button-basic" type="button" id="delete" class="header-icon btn btn-empty text-primary"
                  (click)="delete(formula)">
                  <i class="simple-icon-trash text-primary"></i>
                </button>
              </td>


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

</form>