<app-page-header [title]="'Unit' | localize"  [fields]="fields"
 [CreatePermission]="'Pages.Employee.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'Pages.Employee.Edit'" 
[DeletePermission]="'Pages.Employee.Delete'" [fields]="fields" [data]="units" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" ></app-page-grid>