<!-- <h4>Products</h4>
<div class="separator my-3"></div> -->
<div class="row mb-4 h-100">
    <div class="col-lg-6 col-md-6" *ngFor="let p of planProducts">
        <div class="card ">
            <div class="card-body border-bottom pb-2">
                <!-- header -->
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">{{p.product.name}}</h5><span class="text-muted text-small d-block">MMT</span>
                    </div>
                </div>
                <div class="float-right float-none-xs">
                    <span class="p font-weight-semibold badge badge-pill badge-outline-primary mb-1"> Number of items: {{p.numberOfItems}}</span>
                    <!-- <div class="btn-group mt-2" dropdown>
                        <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                            <span class="simple-icon-menu"></span>
                            <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                            <li role="menuitem"><a href="javascript:;" class="dropdown-item">Edit</a></li>
                            <li role="menuitem"><a href="javascript:;" class="dropdown-item">Delete</a></li>
                        </ul>
                    </div> -->
                </div>
                

            </div>
            <div class="card-body pt-0">
                <!-- content -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                            [data]="getChartData(p)"></app-bar-chart> -->
                            <perfect-scrollbar class="scroll"
                                        [config]="{suppressScrollX: true, wheelPropagation: false}">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <p class="mb-0">Formula</p>
                                                    </th>
                                                    <th>
                                                        <p class="mb-0">Can produce</p>
                                                    </th>
                                                    <th>
                                                        <p class="mb-0">Required quantity</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let f of p.product.formulas">
                                                    <td>
                                                        <span class="log-indicator align-middle mx-1" [ngClass]="{'border-danger' : !checkBalanceIsSufficient(p,f.materialId)}"></span>
                                                        <span class="font-weight-medium">{{f.material.name}} / {{f.quantity}}{{f.unit.name}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="font-weight-medium">{{getNumberOfItem(p, f.materialId)}}</span>
                                                    </td>
                                                    <td class="text-right"><span
                                                            class="text-muted">{{getTotalQuentity(p, f.materialId)}}{{f.unit.name}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </perfect-scrollbar>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

