<!-- <h4>Products</h4>
<div class="separator my-3"></div> -->
<div class="row mb-4 h-100">
    <div class="col-lg-6 col-md-6" *ngFor="let p of planProducts;let i=index">
        <div class="card  " >
            <div class="card-body border-bottom pb-2">
                <!-- header -->
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">{{p.product.name}}</h5><span class="text-muted text-small d-block">MMT</span>
                    </div>
                </div>
                <div class="float-right float-none-xs">
                    <span *ngIf="i !== index" class="p font-weight-semibold mx-1">Number of items: {{p.numberOfItems}}</span>
                    <div class="d-inline-block align-middle">
                        <button *ngIf="i !== index" type="button"

                        class="btn btn-empty d-none d-sm-inline-block p-1"
                        (click)="editNumberofItem(i)">
                            <span class="simple-icon-pencil text-success"></span>
                        </button>

                        <ng-conatiner *ngIf="i !== index">
                        <button type="button" class="btn btn-empty d-none d-sm-inline-block p-1"
                        (click)="deleteProduct(p.productId)">
                            <span class="simple-icon-trash text-danger"></span>
                        </button>
                       </ng-conatiner>
                        <ng-container *ngIf="i== index">
                        <button type="button" class="btn btn-empty d-none d-sm-inline-block p-1"
                        (click)="updatePlan(p.numberOfItems,p.productId)">
                            <span class="bi bi-check-lg text-success"></span>
                        </button>
                        <button type="button" class="btn btn-empty d-none d-sm-inline-block p-1"
                        (click)="CancelEdit()">
                            <span class="bi bi-x-lg text-danger"></span>
                        </button>



                      </ng-container>



                    </div>
                    <ng-conatiner *ngIf="i== index">
                    <div class="input-sm d-inline-block float-md-left mr-1 mb-1 align-top"><input name="numberofitem" id="numberofitem" [(ngModel)]="p.numberOfItems" placeholder="Total quentity"  class="form-control"></div>
                    </ng-conatiner>
                </div>


            </div>
            <div class="card-body pt-0">
                <!-- content -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                            [data]="getChartData(p)"></app-bar-chart> -->
                            <perfect-scrollbar class="scroll"
                                        [config]="{suppressScrollX: true, wheelPropagation: false}">
                                        <table class="table table-sm table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <p class="mb-0">Formula</p>
                                                    </th>
                                                    <th>
                                                        <p class="mb-0">Can produce</p>
                                                    </th>
                                                    <th>
                                                        <p class="mb-0">Required quantity</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let f of p.product.formulas">
                                                    <td>
                                                        <a class="btn btn-empty text-muted">
                                                            <span class="log-indicator align-middle mx-1" [ngClass]="{'border-danger' : !checkBalanceIsSufficient(p,f.materialId)}"></span>
                                                            <span class="font-weight-medium">{{f.material.name}} / {{f.quantity}}{{f.unit.name}}</span>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <span class="font-weight-medium">{{getNumberOfItem(p, f.materialId)}}</span>
                                                    </td>
                                                    <td><span
                                                            class="text-muted">{{getTotalQuentity(p, f.materialId)}}{{f.unit.name}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </perfect-scrollbar>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

