<!-- <h4>Products</h4>
<div class="separator my-3"></div> -->
<div class="row mb-4">
    <div class="col-lg-6 col-md-6" *ngFor="let p of planProducts">
        <div class="card  " >
            <div class="card-body border-bottom pb-2">
                <!-- header -->
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">{{p.product.name}}</h5><span class="text-muted text-small d-block">MMT</span>
                    </div>
                </div>
                <div class="btn-group float-right float-none-xs mt-2" dropdown>
                    <button dropdownToggle type="button" class="btn btn-outline-primary btn-xs dropdown-toggle">
                        <span class="simple-icon-menu"></span>
                        <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a href="javascript:;" class="dropdown-item">Edit</a></li>
                        <li role="menuitem"><a href="javascript:;" class="dropdown-item">Delete</a></li>
                    </ul>
                </div>

            </div>
            <div class="card-body pt-0">
                <!-- content -->
                <div class="row">
                    <div class="col-md-4 p">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="d-flex flex-row justify-content-between px-2 pt-3 pb-2 mb-2 ">
                                    <div class="d-flex flex-column">
                                        <p class="mb-1 ">Number of items:</p>
                                        <p class="mb-1">Can produce:</p>
                                        <!-- <p class="mb-1"><span class="simple-icon-calendar mr-1"></span>Expected days:</p> -->
                                    </div>
                                    <div class="d-flex w-30 flex-column">
                                        <p class="mb-1">{{p.numberOfItems}}<span class="simple-icon-pencil mx-1"></span></p>
                                        <p class="mb-1">{{p.canProduce}}</p>
                                        <!-- <p class="mb-1">{{p.durationProduce}}</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div ><!-- style="height: 270px;" -->
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 border-right">
                        <!-- <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                            [data]="getChartData(p)"></app-bar-chart> -->
                            <perfect-scrollbar class="scroll"
                                        [config]="{suppressScrollX: true, wheelPropagation: false}">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <th colspan="3">
                                                        <p class="mb-0">Formula:</p>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let f of p.product.formulas">
                                                    <td>
                                                       
                                                        <!-- <span class="log-indicator align-middle border-theme-1" ></span> -->
                                                        <span class="log-indicator align-middle border-danger" ></span>
                                                    </td>
                                                    <td>
                                                        <span class="font-weight-medium">{{f.material.name}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="font-weight-medium">{{f.quantity}}{{f.unit.name}}</span>
                                                    </td>
                                                    <td class="text-right"><span
                                                            class="text-muted">{{getTotalQuentity(p, f.materialId)}}{{f.unit.name}}</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </perfect-scrollbar>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

