<form class="form-horizontal " autocomplete="off" #createworkflowModal="ngForm" (ngSubmit)="save()" >
    <abp-modal-header [title]="'CreateNewworkflow'|localize " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Title"|localize  }}
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="title" id="title" required
                [(ngModel)]="workflow.title" #titleModel="ngModel" #titleEl   />
              <abp-validation-summary [control]="titleModel" [controlEl]="titleEl"></abp-validation-summary>
            </div>
          </div>


          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="description">
              {{ "Description"|localize  }}
            </label>
            <textarea class="col-md-9">
              <textarea type="text" class="form-control" name="description" id="description" required
                [(ngModel)]="workflow.description" #descriptionModel="ngModel" #descriptionEl>
                </textarea>
              <!-- <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary> -->
            </div>
          </div>


    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createworkflowModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
