
<form class="form-horizontal " autocomplete="off" #createUnitModal="ngForm" (ngSubmit)="save()" >
    <abp-modal-header [title]="'Edit Transfer' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="From">
          {{ "From" | localize }}
        </label>
        <div class="col-md-9 ">
          <select class="form-control" aria-label="From" #fromModel="ngModel" required name="From" 
          [(ngModel)]="transfer.fromId" #fromEl>
            <option *ngFor="let item of fromUnits" value={{item.id}}>{{item.name}}</option>
          </select>
          <abp-validation-summary [control]="fromModel" [controlEl]="fromEl"></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="To">
          {{ "To" | localize }}
        </label>
        <div class="col-md-9 ">
          <select class="form-control" aria-label="To" #toModel="ngModel" required name="To" 
          [(ngModel)]="transfer.toId" #toEl>
            <option *ngFor="let item of ToUnits" value={{item.id}}>{{item.name}}</option>
          </select>
          <abp-validation-summary [control]="toModel" [controlEl]="toEl"></abp-validation-summary>
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="value">
          {{ "Value"|localize  }}
        </label>
        <div class="col-md-9">
          <input type="number" class="form-control" name="value" id="value" required min="0" oninput="validity.valid||(value='');"
            [(ngModel)]="transfer.value" #valueModel="ngModel" #valueEl   />
          <abp-validation-summary [control]="valueModel" [controlEl]="valueEl"></abp-validation-summary>
        </div>
      </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUnitModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
  