<app-page-header [title]="'DailyProduction' | localize"  [fields]="fields"
 [CreatePermission]="'Production.DailyProductions.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [EditPermission]="'Production.DailyProductions.Edit'" 
[DeletePermission]="'Production.DailyProductions.Delete'" [fields]="fields" [data]="data" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" [ViewButton]="false"></app-page-grid>


