<form class="form-horizontal" autocomplete="off" #createoutputRequestModal="ngForm">
  <div class="modal-body modal-xl">
    <div class="row">
      <div class="col-md-11">
        <!-- Inputs -->
        <div class="row">
          <div class="col-md-3 required">
            <label form="materialId">{{'Materials'|localize}}</label>
            <select class="form-control" aria-label="unit" #materialIdModel="ngModel" required
              name="materialId" [(ngModel)]="outputRequestMaterialWithMaterialId.materialId" (change)="onSelectMaterial($event)" #materialIdEl>
              <option *ngFor="let material of materials" value="{{ material.id }}">
                {{ material.code }}
              </option>
            </select>
          </div>
          <div class="col-md-3 required">
            <label form="warehouseMaterialId">{{'WarehouseMaterial'|localize}}</label>
            <select class="form-control" aria-label="WarehouseMaterial" #warehouseMaterialIdModel="ngModel" required
              name="warehouseMaterialId" [(ngModel)]="outputRequestMaterialWithMaterialId?.outputRequestMaterial.warehouseMaterialId"
              (change)="onSelectwarehouseMaterial($event)" #warehouseMaterialIdEl>
              <option [selected]="select" value="0">...</option>
              <option *ngFor="let warehouseMaterial of warehouseMaterials" value="{{warehouseMaterial.id}}">
                {{ warehouseMaterial.info }}
              </option>
            </select>
          </div>
          <div class="col-md-3 required">
            <label form="quantity">{{'Quantity'|localize}}</label>
            <input type="number" class="form-control" name="quantity" id="quantity" required min="0"
              oninput="validity.valid||(value='');" [(ngModel)]="outputRequestMaterialWithMaterialId?.outputRequestMaterial.quantity"
              #quantityModel="ngModel" #quantityEl />
          </div>
          <div class="col-md-3 required">
            <label form="unitId">{{'Unit'|localize}}</label>
            <select aria-placeholder="{{'Material'|localize}}"  class="form-control" aria-label="Material" #unitIdModel="ngModel"
              required name="unitId" [(ngModel)]="outputRequestMaterialWithMaterialId?.outputRequestMaterial.unitId" #unitIdEl>
              <option *ngFor="let item of units" value="{{ item.id }}">
                {{ item.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-outline-primary mt-4" (click)="addToOutputRequestMaterialList()">
          <i class="bi bi-check-lg"> </i>
        </button>
      </div>
    </div>
    <div class="separator my-5"></div>
    <!-- tabel -->
    <div class="row">
      <div class="col-12 list table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover table-borderless ">
          <thead class="border-bottom">
            <tr>
              <th scope="col">{{'Material'|localize}}</th>
              <th></th>
              <th scope="col">{{'WarehouseMaterial'|localize}}</th>
              <th scope="col">{{'Quantity'|localize}}</th>
              <th scope="col">{{'Action'|localize}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let outputRequestMaterialWithMaterial of data; let i = index">
              <ng-contanier *ngFor="let selectedMaterial of selectedMaterials; let selectedMaterialIndex = index">
                <td *ngIf="selectedMaterialIndex == i">{{selectedMaterial.code }}</td>
              </ng-contanier>
              <td></td>
              <ng-contanier *ngFor="let selectedWarehouseMaterial of selectedWarehouseMaterials; let selectedWarehouseMaterialIndex = index">
                <td *ngIf="selectedWarehouseMaterialIndex == i">{{selectedWarehouseMaterial.info }}</td>
              </ng-contanier>
              <td>{{outputRequestMaterialWithMaterial?.outputRequestMaterial?.quantity }}
                <ng-contanier *ngFor="let unitName of unitsNames; let unitNameIndex = index">
                 <span *ngIf="unitNameIndex == i">{{unitName.name }}</span>
                </ng-contanier>
              </td>
              <td>
                <button id="button-basic" type="button" id="edit" class="header-icon btn btn-empty text-primary"
                  (click)="edit(outputRequestMaterialWithMaterial)">
                  <i class="simple-icon-pencil text-primary"></i>
                </button>
                <button id="button-basic" type="button" id="delete" class="header-icon btn btn-empty text-primary"
                  (click)="delete(outputRequestMaterialWithMaterial)">
                  <i class="simple-icon-trash text-primary"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
