
<form class="form-horizontal " autocomplete="off" #createUnitModal="ngForm" (ngSubmit)="save()" >
    <abp-modal-header [title]="'Create New warehouse Material' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="material">
          {{ "Material" | localize }}
        </label>
        <div class="col-md-9 ">
          <select class="form-control" aria-label="material" #materialModel="ngModel" required name="material" 
          [(ngModel)]="warehouseMaterial.materialId" #materialEl>
            <option *ngFor="let item of materials" value={{item.id}}>{{item.name}}</option>
          </select>
          <abp-validation-summary [control]="materialModel" [controlEl]="materialEl"></abp-validation-summary>
        </div>
      </div>
    
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="quantity">
          {{ "Quantity"  }}
        </label>
        <div class="col-md-4">
          <input type="number" class="form-control" name="quantity" id="quantity" required min="0" oninput="validity.valid||(value='');"
            [(ngModel)]="warehouseMaterial.quantity" #quantityModel="ngModel" #quantityEl   />
          <abp-validation-summary [control]="quantityModel" [controlEl]="quantityEl"></abp-validation-summary>
        </div>
        <label class="col-md-1 col-form-label" for="unit">
          {{ "Unit"  }}
        </label>
        <div class="col-md-4 ">
          <select class="form-control" aria-label="unit" #unitModel="ngModel" required name="unit" 
          [(ngModel)]="warehouseMaterial.unitId" #unitEl>
            <option *ngFor="let item of units" value={{item.id}}>{{item.name}}</option>
          </select>
          <abp-validation-summary [control]="unitModel" [controlEl]="unitEl"></abp-validation-summary>
        </div>
      </div>
    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUnitModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
  