<abp-modal-header [title]="'ViewMoreDetails' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
<div class="modal-body">
    <div class="form-group row ">
        <label class="col-md-3 col-form-label" for="name">
            {{ "Name" | localize }}
        </label>
        <div class="col-md-9 ">
            <label class="form-control" name="name" id="name">
                {{stepIndex.actionName}}
            </label>
        </div>
        <label class="col-md-3 col-form-label" for="order" >
            {{ "Order" | localize }}
        </label>
        <div class="col-md-9 ">
            <label class="form-control" name="order" id="order">
                {{stepIndex.order}}
            </label>
        </div>
    </div>
</div>
