<div class="row" *ngIf="dailyProduction != undefined && dailyProduction.id > 0">
    <div class="col-12">
        <div class="top-right-button-container">
            <div class="d-flex justify-content-center ">
                <a type="button" class=" btn btn-empty pr-2" data-bs-toggle="tooltip" data-bs-placement="right"
                    title=" all Actually Production" routerLink="allactuallyplan">
                    <i class="simple-icon-list glyph-icon text-primary"></i>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-right  ">
            <i *ngIf="dailyProduction.plan.lack" class=" text-success  glyph-icon simple-icon-check mt-2 mr-1" data-bs-toggle="tooltip"
                data-bs-placement="right" title="Plan Can Produce"></i>
            <i *ngIf="!dailyProduction.plan.lack" class=" text-danger  glyph-icon simple-icon-close mt-2 mr-1" data-bs-toggle="tooltip"
                data-bs-placement="right" title=" Plan Can't Produce"></i>
            &nbsp;&nbsp;
            <app-heading title="{{dailyProduction.plan.title}}"></app-heading>
            &nbsp;
            <h1 class="text-primary">&nbsp;#{{dailyProduction.id}}</h1>
        </div>
        <div class="separator"></div>
        <br>
    </div>
</div>
<div class="text-center pt-5 pb-5 d-flex flex-lg-column flex-md-row flex-sm-row flex-column"  >
    <!-- <a class="btn btn-empty"><i class="glyph-icon simple-icon-plus text-primary large-icon"></i></a> -->
    <p> There is no production now, please add a new one</p>
    <a class="btn btn-link btn-empty btn-lg" href="/app/diallyProduction/allactuallyplan">Go to Production List <i class="simple-icon-arrow-right"></i></a>
</div>
