
<form class="form-horizontal " autocomplete="off" #createUnitModal="ngForm" (ngSubmit)="save()" >
    <abp-modal-header [title]="'EditWarehouse'|localize " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body modal-xl">
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
          {{ "Name" | localize }}
        </label>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="name" id="name" required 
            [(ngModel)]="warehouse.name" #nameModel="ngModel" #nameEl   />
          <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
        
        </div>
      </div>
      <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="WarehouseKeeper">
          {{ "StoreKeeper" | localize }}
        </label>
        <div class="col-md-9 ">
            <input type="text" class="form-control" name="WarehouseKeeper" id="WarehouseKeeper" required 
            [(ngModel)]="warehouse.warehouseKeeper" #warehouseKeeperModel="ngModel" #warehouseKeeperEl   />
          <abp-validation-summary [control]="warehouseKeeperModel" [controlEl]="warehouseKeeperEl"></abp-validation-summary>
        
        </div>
      </div>
      <div class="form-group row required ">
        <label class="col-md-3 col-form-label" for="place">
          {{ "Place"|localize }}
        </label>
        <div class="col-md-9">
          <textarea type="text" class="form-control" name="place" id="place"
            [(ngModel)]="warehouse.place" #placeModel="ngModel" #placeEl>
                </textarea>
          <abp-validation-summary [control]="placeModel" [controlEl]="placeEl"></abp-validation-summary>
        </div>
      </div>
    

    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createUnitModal.form.valid || saving"
      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
  </form>
  