

    <abp-modal-header [title]="data.name" (onCloseClick)="bsModalRef.hide()">

            {{data.description}}

    </abp-modal-header>




    <div class="modal-body modal-xl" *ngIf="isLoaded">


          <h5><i class="iconsminds-calendar-4"></i> Total Quantity : {{data.totalQuantity}}</h5>
          <div class="separator my-5"></div>

            <h5><i class="simple-icon-user"></i> Supplier :</h5>
            <ng-container *ngFor="let supplier of data.suppliers">
            <div
            class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">



                <span class="align-middle d-inline-block">{{supplier.supplier.name}}</span>
               <p class="mb-1 text-muted text-small w-20 w-xs-100">{{supplier.leadTime}}</p>

        </div>

    </ng-container>
   <!-- <div class=" mx-2 m-3">
        <table class="table">
            <thead>
                <tr>

                  <th scope="col">Name</th>
                  <th scope="col">Lead Time</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let supplier of data.suppliers">

                  <td>{{supplier.supplier.name}}</td>
                  <td>{{supplier.leadTime}}</td>

                </tr>


              </tbody>
          </table>
        </div> -->

      <div class="separator my-5"></div>
      <div class="row">
          <div class="col-12 list">
            <ngx-datatable [rows]="data" [columnMode]="ColumnMode.flex"  [headerHeight]="20"
            [footerHeight]="100" #table [sorts]="[{ prop: 'title', dir: 'asc' }]"
           >

            <ngx-datatable-column [name]="('Warehouse Name')" prop="materialId" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a class="c-pointer">
                  <div>
                    {{id}}
                  </div>
                </a>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="('Quantity')" prop="quantity" [flexGrow]="1">
              <ng-template   let-row="row" ngx-datatable-cell-template >
                <div > {{id}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="('Code')" prop="unitId" [flexGrow]="1">
              <ng-template   let-row="row" ngx-datatable-cell-template >
                <div > {{id}}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="('expiry')" prop="unitId" [flexGrow]="1">
                <ng-template   let-row="row" ngx-datatable-cell-template >
                  <div > {{id}}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [name]="('OutPutRequest')" prop="unitId" [flexGrow]="1">
                <ng-template   let-row="row" ngx-datatable-cell-template >
                  <div > {{id}}</div>
                </ng-template>
              </ngx-datatable-column>


          </ngx-datatable>
          </div>
      </div>

    </div>


