<app-page-header [title]="'OutputRequest' | localize"  [fields]="fields"
 [CreatePermission]="'Warehouses.OutputRquests.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>
<app-page-grid [hasDetails]="false" [EditPermission]="'Warehouses.OutputRquests.Edit'" 
[DeletePermission]="'Warehouses.OutputRquests.Delete'" [fields]="fields" [data]="data" [IsOutputRequest]="true"
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" ></app-page-grid>