<app-list-page-header [title]="title" [itemOrder]="itemOrder" [itemOptionsOrders]="itemOptionsOrders"
  [displayMode]="displayMode" [itemOptionsPerPage]="[5, 10, 20]" [itemsPerPage]="itemsPerPage"
  [selectAllState]="selectAllState" (changeDisplayMode)="changeDisplayMode($event)" (addNewItem)="showAddNewModal()"
  (deleteItem)="deleteItem()" [selectedCount]="selectedCount" (selectAllChange)="selectAllChange($event)"
  (itemsPerPageChange)="itemsPerPageChange($event)" (changeOrderBy)="changeOrderBy($event)"
  (searchKeyUp)="searchKeyUp($event)">
</app-list-page-header>
<div class="row">
  <div class="col-12 ">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-borderless">
            <thead class="border-bottom">
              <tr>
                <th></th>
                <th scope="col">{{'Title'|localize}}</th>
                <th scope="col">{{'Plan'|localize}}</th>
                <th scope="col">{{'Product'|localize}}</th>
                <th scope="col">{{'Status'|localize}}</th>
                <th scope="col">{{'OutputDate'|localize}}</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let outputRequestMaterial of data; let i = index">
                <td>
                  <span id="anchorDropdownContainer">
                    <span dropdown container="#anchorDropdownContainer">
                      <a href id="basic-link" dropdownToggle (click)="(false)" aria-controls="basic-link-dropdown">
                        <i class="text-primary simple-icon-options-vertical"></i></a>
                      <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu"
                        aria-labelledby="basic-link">
                        <ng-conatiner *ngIf="outputRequestMaterial.status == 0">
                          <a id="button-basic" type="button" id="edit"
                            class="btn btn-empty dropdown-item text-primary align-self-center"
                            (click)="editButton(outputRequestMaterial.id)">
                            <i class="text-primary simple-icon-pencil">
                            </i>&nbsp;&nbsp;
                            <span>{{'Edit'|localize}}</span>
                          </a>
                          <a id="button-basic" type="button" id="delete"
                            class="btn btn-empty dropdown-item text-primary align-self-center"
                            (click)="delete(outputRequestMaterial)">
                            <i class="text-primary simple-icon-trash"></i>
                            &nbsp;&nbsp;
                            <span>{{'Delete'|localize}}</span>
                          </a>
                        </ng-conatiner>
                        <a id="button-basic" type="button" id="delete"
                          class="btn btn-empty dropdown-item text-primary align-self-center"
                          (click)="viewButton(outputRequestMaterial.id)">
                          <i class="text-primary simple-icon-eye "></i>
                          &nbsp;&nbsp;
                          <span>{{'View'|localize}}</span>
                        </a>

                        <li class="divider dropdown-divider" *ngIf="outputRequestMaterial.status!=2"></li>
                        <a *ngIf="outputRequestMaterial.status == 0" class="dropdown-item"
                          (click)="onchangeStatusToInProduction(outputRequestMaterial.id)">{{ "MoveToProduction" |
                          localize }}</a>
                        <a *ngIf="outputRequestMaterial.status == 1" class="dropdown-item"
                          (click)="onchangeStatusToFinish(outputRequestMaterial.id)">{{ "Finished" | localize }}</a>

                      </ul>
                    </span>
                  </span>

                </td>
                <td>{{outputRequestMaterial.title}}</td>
                <td>{{outputRequestMaterial.plan?.title}}</td>
                <ng-conatiner *ngFor="let outputRequestProduct of outputRequestMaterial.outputRequestProducts">
                  <td>{{outputRequestProduct.product.name }}</td>
                </ng-conatiner>
                <td><span class="badge badge-pill badge-outline-warning mb-1"
                    *ngIf="outputRequestMaterial.status == 0">{{ "Pending" | localize }}</span>
                  <span class="badge badge-pill badge-outline-primary mb-1" *ngIf="outputRequestMaterial.status == 1">{{
                    "InProduction" | localize }}</span>
                  <span class="badge badge-pill badge-outline-success mb-1" *ngIf="outputRequestMaterial.status == 2">{{
                    "Finished" | localize }}</span>
                </td>
                <td  > {{  outputRequestMaterial.outputDate.year()!='1'?( outputRequestMaterial.outputDate|date:'yyyy-MM-dd') : " " }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>


  </div>
</div>

<div class="col-12">
  <!-- <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
      [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
      [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
    </pagination> -->
</div>
<!-- </div> -->

<!-- <ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template> -->