<div class="modal-header">
  <div class="float-left float-none-xs">
    <div class="d-inline-block">
      <h4 class="d-inline">{{ data.name }}</h4>
      <span class="text-muted text-small d-block">{{ data.code }}</span>
    </div>
  </div>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body modal-xl" *ngIf="isLoaded">
  <div class="row mb-2">
    <div class="col-lg-6">
      <h6>
        <i class="iconsminds-calendar-4"></i>{{'TotalQuantity'|localize}} :
        {{ data.totalQuantity }}
      </h6>
    </div>
    <div class="col-lg-6">
      <div class="float-left float-none-xs mt-1">
        <h6 ><i class="simple-icon-user"></i>  &nbsp;{{'Suppliers'|localize}} : </h6>
      </div>

      <div class="float-left float-none-xs mx-3 ">
        <table class="table table-sm table-borderless">
          <tbody >
            <tr *ngFor="let supplier of data.suppliers">
              <td>
                <span [class]="'log-indicator align-middle'"></span>
              </td>
              <td>
                <span id="f0" class="font-weight-medium" [tooltip]="onHover(supplier.supplier.id)">{{supplier.supplier.name}}</span>
              </td>
              <td class="text-right">
                <span class="text-muted"    
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                title="{{'leadTime'|localize}}">{{ supplier.leadTime }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="separator mb-4"></div>
  <div class="row ml-2">
  <h6>  <i class="simple-icon-layers"></i>  {{'RelatedProduct'|localize}}:</h6>
  <div class="float-left float-none-xs mx-3">
    <span class="badge badge-pill badge-outline-primary mb-1 mr-1" *ngFor="let relatedProduct of data.relatedProducts">
      {{relatedProduct.name | localize}}
    </span>
  </div>
</div>
<div class="separator my-4"></div>
  <!-- tabel -->
  <div class="row">
    <div class="col-12 list table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-hover table-borderless">
    <thead class="border-bottom">
          <tr>
            <th scope="col">{{'Warehouse'|localize}}</th>
            <th scope="col">{{'Quantity'|localize}}</th>
            <th scope="col">{{"Code"|localize}}</th>
            <th scope="col">{{'ExpirationDate'|localize}}</th>
            <th scope="col">{{'OutputRequest'|localize}}</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let warehousematerial of data.warehouseMaterials; let i = index">
            <td>{{warehousematerial.warehouse.name}}</td>
            <td>{{warehousematerial.currentQuantity}} {{warehousematerial.unit?.name}}</td>
            <td>{{warehousematerial.code}}</td>
            <td>{{warehousematerial.expirationDate|date:"yyyy/MM/dd"}}</td>

            <ng-contanier *ngFor="let outputRequest of warehousematerial.outputRequests;let wId = index">

              <td >
                <span class="text-muted">
                  {{'Quantity'|localize}} : {{ outputRequest.quantity }}
                </span>
                &nbsp;|
                <span class="text-muted">
                 {{outputRequest.outputDate | date:"yyyy-MM-dd"}}
                 &nbsp; &nbsp;</span>

            </td>
            </ng-contanier>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
