<div class="modal-body my-custom-scrollbar">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{'Name'|localize}}</th>
        <th scope="col">{{'Material'|localize}}</th>
        <th scope="col">{{'Quantity'|localize}}</th>
        <th scope="col">{{'Unit'|localize}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formula of data; ;let i=index;  ">
        <th scope="row">{{formula.id}}</th>
        <!--  -->

        <ng-contanier *ngFor="let m of materials;let mId=index">
          <td *ngIf="mId==i">{{m.name}} </td>
        </ng-contanier>
        <td>{{formula.quantity}}</td>
        <ng-contanier *ngFor="let u of units;let uId=index ">
          <td *ngIf="uId==i">{{u.name}} </td>
        </ng-contanier>
        <!--  -->
        <td>{{formula.quantity}}</td>
      </tr>
    </tbody>
  </table>


</div>