
<div class="modal-body my-custom-scrollbar">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Material</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let formula of data; ">
        <th scope="row">{{formula.id}}</th>
        <td>{{formula.name}} </td>
        <ng-contanier *ngFor="let m of materials">   <td>{{m.name}} </td> </ng-contanier>
     
        <td>{{formula.quantity}}</td>
        <ng-contanier *ngFor="let u of units ;">   <td>{{u.name}} </td> </ng-contanier>
     
     
      </tr>

    </tbody>
  </table>


</div>