<!-- <form class="form-horizontal " autocomplete="off" #editProductModal="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Edit Product' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <tabset>
    <tab heading=" Product ">
      <div class="modal-body modal-xl">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="product.name"
              #nameModel="ngModel" #nameEl />

            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description" }}
          </label>
          <div class="col-md-9">
            <textarea type="text" class="form-control" name="description" id="description"
              [(ngModel)]="product.description" #descriptionModel="ngModel" #descriptionEl>
              </textarea>
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
          </div>
        </div>

      </div>
      <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editProductModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
    </tab>

    <tab heading="Formula" *ngIf="loaded" >
      <edit-formula-dialog [productId]="product.id" (saveFormulaList)="addFormula($event)"   ></edit-formula-dialog>

    </tab>
  </tabset>

</form> -->

<div class="row">
  <div class="col-12">
    <div class="top-right-button-container ">
      <div class="d-flex justify-content-center ">
        <div class="home-text d-flex justify-content-center  ">
          <a class=" top-right-button btn btn-primary btn-sm mr-2 " (click)="save()">
            {{'Save'|localize}}
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-right   ">
      <div class="simple-line-icons">
        <div>
          <a class="glyph-icon simple-icon-action-undo btn-md text-primary" (click)="backToAllProduct()"   data-bs-toggle="tooltip" data-bs-placement="right" title="back to all product" >
          </a>
        </div>
      </div>   &nbsp;&nbsp; &nbsp;&nbsp;
      <app-heading title="{{'edit Product'|localize}}" ></app-heading>


    </div>

    <div class="separator "></div>
    <br>

    <accordion class="mt-2">
      <accordion-group heading="{{'edit Product' | localize}}" [panelClass]="'border'" [isOpen]="true">
        <div class="modal-body modal-xl">
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
              {{ "Name" }}
            </label>
            <div class="col-md-9">
              <input type="text" class="form-control" name="name" id="name" required [(ngModel)]="product.name"
                #nameModel="ngModel" #nameEl />
              <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="price">
              {{ "Price" }}
            </label>
            <div class="col-md-9">
              <input type="number" class="form-control" price="price" id="price" required [(ngModel)]="product.price"
                #priceModel="ngModel" #priceEl />
            <abp-validation-summary [control]="priceModel" [controlEl]="priceEl"></abp-validation-summary>
            </div>
          </div>

          <div class="form-group row ">
            <label class="col-md-3 col-form-label" for="description">
              {{ "Description" }}
            </label>
            <div class="col-md-9">
              <textarea type="text" class="form-control" name="description" id="description"
                [(ngModel)]="product.description" #descriptionModel="ngModel" #descriptionEl>
              </textarea>
              <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
            </div>
          </div>

        </div>
      </accordion-group>
      <accordion-group class="mt-2" heading="{{'Formula' | localize}}" [panelClass]="'border'">
        <edit-formula-dialog (saveFormulaList)="addFormula($event)"></edit-formula-dialog>

      </accordion-group>

    </accordion>

  </div>
</div>
