<app-page-header [title]="'StepIndex' | localize"  [fields]="fields"
 [CreatePermission]="'Setting.Units.Create'" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" 
  [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>


<app-page-grid [hasDetails]="false" [EditPermission]="'Setting.Units.Edit'" 
[DeletePermission]="'Setting.Units.Delete'" [fields]="fields" [data]="steps" 
[totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"    (viewItem)="showViewModal($event)"
   (changeOrderBy)="changeOrderBy($event)" (editItem)="showEditModal($event)" (deleteItem)="deleteItem($event)"
  (changePage)="pageChanged($event)" ></app-page-grid>
