// .darkened {
//   background-color: #33333344 !important; /* Dark gray color */
//   color: #333!important;

//  }
//  .pointer {
//   cursor: pointer;
// }
// .hover-color :hover {
//   background-color: #33333344 !important;
// }


// /////////////////////////////////////////////////////////////////////////
// .bottons-details ul{

//   display:flex;

// }
// .bottons-details ul li {
//   list-style: none;
//   text-align: center;
//   border: 1px solid var(--separator-color);
//   background-color: var(--foreground-color);
//   margin: 5px;
//   padding:   10px 10px;
//   border-radius: 7px;
//   min-width:7rem;
//   // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// }
// .bottons-details ul li:hover{
//   background-color: var(--theme-color-6);
//   border: 2px solid var(--theme-color-5);
// }
// .bottons-details ul li i{
// font-size: 1.7rem;
// }
// .bottons-details ul li p{
//   padding:0 ;
//   margin: 0;
//   text-wrap: wrap;
// }

// /////////////////////////////////////////////////////////////////////////
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}



.cards .blue {
  background-color: var(--theme-color-6);
}

.cards .green {
  background-color: var(--theme-color-6);
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 4rem;
  width: 6rem;
  border-radius: 0.75rem;
  // color: rgb(182, 20, 20);
  cursor: pointer;
  transition: 400ms;
  font-size: 12px;
  color: var (--separator-color);

}



.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

// .cards:hover > .card:not(:hover) {
//   filter: blur(10px);
//   transform: scale(0.9, 0.9);
// }