<!-- <div class="row">
  <div class="col-lg-4  col-xl-12 ">
<div class="  card mb-4  p-0"  [ngClass]="{ 'darkened':  !ParentId }">
<div class="row " >
    <div class="col-{{col_numbe}}" *ngFor="let d of data" >
      <a (click)="navigateToChildren(d.destinationRoute)"   >
       
        <div class="card-body  pointer text-center p-0 mt-2"  >
          <i class=" {{d.icon}}" style=" font-size: 20px;"></i>
          <p class="card-text font-weight-semibold my-1 ">{{ d.label | localize }}</p>
        </div>
      </a>
    </div>
  </div>
</div>
</div>
</div> -->

<div class="row">
  <div class="bottons-details col-md-12">
    <ul class=" ">
      <li><a href="">
          <i class=" simple-icon-people"></i>
          <p class="">child1</p>
        </a>
      </li>
      <li><a href="">
        <i class="simple-icon-people "></i>
        <p class="">child2child2ss </p>
      </a>
    </li>
    </ul>
  </div>
</div>