
.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 4rem;
  width: 6rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: 400ms;
  font-size: 12px;
}
 .darkened {
  color:#696969 !important;
 }
.text-color{
  color:var(--theme-color-1);
}
.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}
.cards .card p.second-text {
  font-size: .7em;
}
.cards .card:hover {
  transform: scale(1.2, 1.2);
}

