<div class="row">
  <div class="col-12 col-lg-12 mb-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ 'Stock' | localize }}</h5>
        <div class="row">
          <!-- Chart -->
          <div class="col-lg-4 border-right">
            <div class="chart-container">
              <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                [data]="radarChartData"></app-bar-chart>
            </div>
          </div>
          <div class="col-lg-8">
            <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
              <ngx-datatable [rows]="rows" [columns]="columns" [columnMode]="columnMode.flex"
                [sorts]="[{ prop: 'title', dir: 'asc' }]">
                <ngx-datatable-column title="Material" prop="name" [flexGrow]="2">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column title="Total Quantity" prop="totalQuantity" [flexGrow]="2">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column title="Inventory" prop="inventory" [flexGrow]="2">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
                <!-- <ngx-datatable-column title="Lead Time" prop="leadTime" [flexGrow]="2">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column title="Days" prop="produceDays" [flexGrow]="2">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    {{ value }}
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </perfect-scrollbar>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>