<!-- <h4>Products</h4>
<div class="separator my-3"></div> -->
<div class="row mb-4">
    <div class="col-lg-12 col-md-12 mb-4" *ngFor="let p of planProducts">
        <div class="card ">
            <div class="card-body border-bottom pb-2">
                <!-- header -->
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">{{p.product.name}}</h5><span
                            class="text-muted text-small d-block">MMT</span>
                    </div>
                </div>
                <div class="float-right float-none-xs">
                    <button type="button" class="btn btn-outline-primary btn-xs" (click)="arbitrageDialog(p)">
                        Arbitrage
                    </button>
                </div>
            </div>
            <div class="card-body pt-0">
                <!-- content -->
                <div class="row">
                    <div class="col-md-2 border-right">
                        <app-radial-process-card [title]="'Production percentage' | localize"
                            [totalProduction]="p.totalProduction" [canProduce]="p.canProduce" [isSortable]="true">
                        </app-radial-process-card>
                    </div>
                    <div class="col-md-4 border-right">
                        <table class="table table-sm">
                            <tbody>
                                <tr>
                                    <td><span class=" align-middle">{{'Required number' | localize}} <i
                                                [tooltip]="tooltipData.requiredQuantity"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-muted">{{p.numberOfItems}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-one align-middle">{{'Can produce' | localize}} <i
                                                [tooltip]="tooltipData.canProduce"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-one">{{p.canProduce}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-one align-middle">{{'Number produced' | localize}} <i
                                                [tooltip]="tooltipData.totalProduction"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-one">{{p.totalProduction}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-one align-middle">{{'Cost' | localize}} <i
                                                [tooltip]="tooltipData.cost"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-one">{{p.itemCost | commaNumber}} | {{p.totalCost |
                                        commaNumber}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-one align-middle">{{'Selling price' | localize}} <i
                                                [tooltip]="tooltipData.price"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-one">{{p.product?.price | commaNumber}} | {{p.totalSalesAmount |
                                        commaNumber}}</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-one align-middle">{{'Arbitrage' | localize}} <i
                                                [tooltip]="tooltipData.productArbitrage"
                                                class="bi bi-question-circle-fill text-primary"></i></span></td>
                                    <td><span class="mx-2 text-one">{{p.productArbitrage | commaNumber}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <!-- <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                            [data]="getChartData(p)"></app-bar-chart> -->
                        <perfect-scrollbar class="scroll " [config]="{suppressScrollX: true, wheelPropagation: false}">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <p class="mb-0">Formula</p>
                                        </th>
                                        <th>
                                            <p class="mb-0">Can produce</p>
                                        </th>
                                        <th>
                                            <p class="mb-0">Required quantity</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let f of p.product.formulas">
                                        <td>
                                            <a class="btn btn-empty text-muted" (click)="editMaterial(f.material.id)">
                                                <span class="log-indicator align-middle mx-1"
                                                    [ngClass]="{'border-danger' : !checkBalanceIsSufficient(p,f.materialId)}"></span>
                                                <span class="font-weight-medium">{{f.material.name}} /
                                                    {{f.quantity}}{{f.unit.name}}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="font-weight-medium">{{getNumberOfItem(p, f.materialId)}}</span>
                                        </td>
                                        <td><span class="text-muted">{{getTotalQuentity(p,
                                                f.materialId)}}{{f.unit.name}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>