<!-- <h4>Products</h4>
<div class="separator my-3"></div> -->
<div class="row mb-4">
    <div class="col-lg-12 col-md-12 mb-4" *ngFor="let p of planProducts">
        <div class="card ">
            <div class="card-body border-bottom pb-2">
                <!-- header -->
                <div class="float-left float-none-xs">
                    <div class="d-inline-block">
                        <h5 class="d-inline">{{p.product.name}}</h5><span
                            class="text-muted text-small d-block">MMT</span>
                    </div>
                </div>
                <div class="float-right float-none-xs">
                    <button  type="button" class="btn btn-outline-primary btn-xs" (click)="arbitrageDialog(p)">
                        Arbitrage
                    </button>
                </div>
            </div>
            <div class="card-body pt-0">
                <!-- content -->
                <div class="row">
                    <div class="col-md-2 border-right">
                        <app-radial-process-card [title]="'Production percentage' | localize"
                            [totalProduction]="p.totalProduction" [canProduce]="p.canProduce" [isSortable]="true">
                        </app-radial-process-card>
                    </div>
                    <div class="col-md-4 border-right">
                        <div class="d-flex row-flex mt-4">
                            <div class="w-50">
                                <ul class="mb-0">
                                    <li class="text-one">Required number <i [tooltip]="tooltipData.requiredQuantity" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                    <li class="text-one">Can produce <i [tooltip]="tooltipData.canProduce" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                    <li class="text-one">Number produced <i [tooltip]="tooltipData.totalProduction" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                    <li class="text-one">Cost <i [tooltip]="tooltipData.cost" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                    <li class="text-one pb-3">Selling price <i [tooltip]="tooltipData.price" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                   
                                    <li class="text-one text-primary">Arbitrage <i [tooltip]="tooltipData.productArbitrage" class="bi bi-question-circle-fill text-primary"></i> :</li>
                                </ul>
                            </div>
                            <div class="w-50">
                                <ul class="list-unstyled mb-0">
                                    <li class="text-one">
                                        {{p.numberOfItems}}
                                    </li>
                                    <li class="text-one">
                                        {{p.canProduce}}
                                    </li>
                                    <li class="text-one">
                                        {{p.totalProduction}}
                                    </li>
                                    <li class="text-one">
                                        {{p.itemCost | commaNumber}} | {{p.totalCost | commaNumber}}
                                    </li>
                                    <li class="text-one  pb-3">
                                        {{p.product?.price | commaNumber}} | {{p.totalSalesAmount | commaNumber}}
                                    </li>
                                    
                                    <li class="text-one  text-primary">
                                        {{p.productArbitrage | commaNumber}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- <app-bar-chart [shadow]="true" [options]="chartDataConfig.barChartOptions"
                            [data]="getChartData(p)"></app-bar-chart> -->
                        <perfect-scrollbar class="scroll " [config]="{suppressScrollX: true, wheelPropagation: false}">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            <p class="mb-0">Formula</p>
                                        </th>
                                        <th>
                                            <p class="mb-0">Can produce</p>
                                        </th>
                                        <th>
                                            <p class="mb-0">Required quantity</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let f of p.product.formulas">
                                        <td>
                                            <a class="btn btn-empty text-muted" (click)="editMaterial(f.material.id)">
                                                <span class="log-indicator align-middle mx-1"
                                                    [ngClass]="{'border-danger' : !checkBalanceIsSufficient(p,f.materialId)}"></span>
                                                <span class="font-weight-medium">{{f.material.name}} /
                                                    {{f.quantity}}{{f.unit.name}}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <span class="font-weight-medium">{{getNumberOfItem(p, f.materialId)}}</span>
                                        </td>
                                        <td><span class="text-muted">{{getTotalQuentity(p,
                                                f.materialId)}}{{f.unit.name}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>