
<form class="form-horizontal " autocomplete="off" #editBrandModal="ngForm" (ngSubmit)="save()" >
  <abp-modal-header [title]="'Edit Material' " (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body modal-xl">

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name"  }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="name" id="name" required
              [(ngModel)]="material.name" #nameModel="ngModel" #nameEl   />
            <!-- <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary> -->
          </div>
        </div>
        <div class="form-group row ">
          <label class="col-md-3 col-form-label" for="description">
            {{ "Description"  }}
          </label>
          <div class="col-md-9">
            <textarea  type="text" class="form-control" name="description" id="description"
            [(ngModel)]="material.description" #descriptionModel="ngModel" #descriptionEl >
            </textarea>
            <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required ">
          <label class="col-md-3 col-form-label" for="suppliers">
            {{ "Suppliers" | localize }}
          </label>
          <div class="col-md-9">
            <button type="button" class="btn btn-primary btn-md mb-1" (click)="addMaterialSupplier()"><i
                class="iconsminds-add"></i>
              Add Supplier</button>
          </div>
          
          <div class="col-md-3"></div>
          <div class="col-md-9">
            <div *ngFor="let materialsupplier of material.suppliers;  let i=index">
              <div class="separator mb-1"></div>
              <div class="row">
                
                  <label class="col-md-3 col-form-label" for="name">
                    {{ "Supplier" }}
                  </label>
                  <div class="col-md-6 ">
                    <select class="form-control" aria-label="supplier" #supplierModel="ngModel" required name="supplier"
                      [(ngModel)]="materialsupplier.supplierId" #supplierEl>
                      <option *ngFor="let item of suppliers" value={{item.id}}>{{item.name}}</option>
                      <abp-validation-summary [control]="supplierModel" [controlEl]="supplierEl"></abp-validation-summary>
                    </select>
                  </div>
                
              </div>
              <div class="row mt-1">
               
                  <label class="col-md-3 col-form-label" for="leadTime">
                    {{ "leadTime" }}
                  </label>
                  <div class="col-md-6">
                    <input type="number" class="form-control" name="leadTime" id="leadTime" required min="0"
                      oninput="validity.valid||(value='');" [(ngModel)]="materialsupplier.leadTime" #leadTimeModel="ngModel"
                      #leadTimeEl placeholder="in days" />
    
                  </div>
    
                  <div class="col-md-3">
                    <button type="button" class="btn btn-outline-danger mb-1" (click)="removeMaterialSupplier(i)"><i
                        class="iconsminds-remove"></i></button>
                  </div>
                
              </div>
            </div>
          </div>
        </div>




  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editBrandModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>
