<app-page-header [title]="'Employee' | localize" [fields]="fields" (addNewItem)="showAddNewModal()"
  (advanceFilter)="showFilterDialog($event)" [filtering]="request.filtering && request.filtering.rules.length > 0" (onChangePage)="onChangePage($event)"
  (changeOrderBy)="changeOrderBy($event)" (searchKeyUp)="searchKeyUp($event)">
</app-page-header>

<app-page-grid [fields]="fields" [data]="employees" [totalItems]="totalItems" [pageNumber]="pageNumber" [pageSize]="pageSize"
   (changeOrderBy)="changeOrderBy($event)"
  (changePage)="pageChanged($event)"></app-page-grid>